/*****************************
  Leaderboard
******************************/
.leaderboard-header {
  text-align: center;
}
.schools {
  text-align: center;
  padding: 20px;
  width: 30%;
  align-items: center;
}

li {
  padding: 30px;
  text-align: left;
  list-style-type: none;
}